@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Supplier/**/*';
@source '../../../../resources/views/filament/supplier/**/*';

/* .fi-in-repeatable-item {
    background-color: #f8f8f8;
}
.dark .fi-in-repeatable-item {
    background-color: #23272f;
} */
