@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../seps.css';

@source '../../../../app/Filament/Supplier/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/livewire/**/*';
@source '../../../../resources/views/vendor/**/*';

/* .fi-in-repeatable-item {
    background-color: #f8f8f8;
}
.dark .fi-in-repeatable-item {
    background-color: #23272f;
} */
