.fi-sidebar-item {
    &.fi-active {
        & > .fi-sidebar-item-btn {
            background-color: white;
            /* border: 1px solid #e1e1e1; */
            box-shadow: 0 1px 2px rgb(0 0 0 / 0.05);
        }
    }
}

.fi-main-ctn {
    background-color: #ffffff;
}

.fi-section {
    & > .fi-section-header {
        background-color: #fafafa;
    }
}

.fi-ta-ctn {
    & .fi-ta-header {
        background-color: #fafafa;
    }
}

.fi-simple-layout {
    position: relative;
}

.fi-simple-layout::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
    background-image: url('/storage/app/public/project_files/pattern.jpg');
}
